*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-size: clamp(
        1rem,
        0.0323rem + 4.8387vw,
        1.8438rem
    ); /*16px > 29.5px vw(320-599)px */

    main {
        padding: 0 1.5rem;
    }
    footer {
        margin-top: 12.188rem;
    }

    @media screen and (min-width: 600px) {
        font-size: clamp(
            1.2rem,
            0.1402rem + 2.8261vw,
            1.7281rem
        ); /*19.2px > 27.65px xw(600-899)px*/

        main {
            padding: 0 2.5rem;
        }
        footer {
            margin-top: 15rem;
        }
    }
}

/* Improve performance by not loading all the fonts at once
   exp >> create different css files with font faces and import
   them only on the desierd component's */

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 700;
}
