*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-size: clamp(
        1rem,
        0.0323rem + 4.8387vw,
        1.8438rem
    ); /*16px > 29.5px vw(320-599)px */
}

/* Improve performance by not loading all the fonts at once
   exp >> create different css files with font faces and import
   them only on the desierd component's */

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 700;
}
